/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* Hero start */
.hero-section{
    background: #2D25A0;
    height: 677px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.hero-section-content{
    margin-left: 156px;
    font-size: 34px;
    margin-top: 207px;
    line-height: 80px;
    color: #FFFFFF;
}
.hero-section-image > img{
    height: 438px;
    margin-top: 135px;
    margin-right: 140.99px;
}
.btn{
    background-color: #E02C6D;
    border: none;
    padding: 10px 24px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}
.btn a{
    text-decoration: none;
    color: #FFFFFF;
}
.grid{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    justify-content: center;
    grid-gap: 30px;

}
.grid > article{
    text-align: left;
    width: 300px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.grid > article img{
    width: 300px;

}
.text p{
    color: #6C6C6C;
}
/* Highlights section */
.highlights{
    margin-top: 165px;

}
.highlights-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 66px;
}
.highlights-grid img{
    width: 567px;
    margin-right: 156px;
}
.highlights-text{
    width: 309px;
    margin-left: 182px;
}
.highlights-text p{
    color: #6C6C6C;
}
/* -------------
    footer
-------------- */
.footer-content img{
    width: 262px;
    display: block;
    margin-top: 158px;
    margin-left: auto;
    margin-right: auto;
}
.socials{
    list-style: none;
    display: flex;
    justify-content: center;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #969BAB;
}
.footer-content p{
    text-align: center;
}